@{
    ViewData["Title"] = "Home Page";
}


<section class="text-lg-center container">
    <div class="p-5 rounded mt-3 mx-auto col-md-8">
        <div class="card">
            <div class="card-body">
                <form class="row g-3">
                    <div class="col-md-10">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <div class="input-group-text"><i class="bi bi-globe"></i></div>
                            <input type="text" class="form-control" id="urlAddress" placeholder="e.g. https://www.altudo.co">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<div class="py-2 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-8 imagesFound"></div>
            <div class="col-4 report"></div>
        </div>
    </div>
</div>